*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

AnPhone001/app/build/
AnPhone001/.gradle/
AnPhone001/build/
AnPhone001/local.properties
AnPhone001/app/build
AnPhone001/.gradle
AnPhone001/build
AnPhone001/app/build
AnPhone001/.gradle
AnPhone001/build
